{% extends 'NatuePdfBundle:Base:layout.html.twig' %}

{% block content %}
    <h3 style="width: 50%; float: left">{% trans %}Shipping Picking List | mono sku{% endtrans %}</h3>

    <h3 style="width: 40%; float: right">
        {% trans %}Reference Date{% endtrans %}: {{ created_at|date('d/m/Y') }}<br/>
        {% trans %}Operator{% endtrans %}: {{ user }}
        {% trans %}Number of Items: {% endtrans %} {{ quantity }}
    </h3>

    <div class="clear"></div>

    <table>
        <thead>
            <tr>
                <th width="15%">{% trans %}Key{% endtrans %}</th>
                <th>{% trans %}Brand{% endtrans %}</th>
                <th width="15%">{% trans %}Barcode{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th width="2%">{% trans %}Qty{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.positionName }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.barcode|slice(0,20) }}</td>
                <td>{{ item.productName|slice(0,33) }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="page">
        <h1>{% trans %}Customer Box Information{% endtrans %}</h1>
        <table>
            <thead>
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Qty{% endtrans %}</th>
                    <th>{% trans %}Customer Informations{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in customersMap %}
                <tr>
                    <td>{{ row.productName }}</td>
                    <td>{{ row.totalItems }}</td>
                    <td>{{ row.customerName }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
